[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pywin32 = "*"
genanki = "*"
keyboard = "*"
mouse = "*"
cx-freeze = "*"

[requires]
python_version = "3.8"
